body{
    font-family:"Lato",sans-serif ;
    
}
    
    
.loginform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
    
.loginform h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
    
.loginform h1 p {
    font-size: 20px;
    margin: 15px 0;
}
    
.loginform input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 4px color black;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
}
    
.loginform button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 15px ;
    width: 106%;
    border: 4px color black;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor:pointer;
}
    
.loginform button:hover{
    background-color: white;
    color: black;
}
    