body {
    font-family: "Lato", sans-serif;
}

.smallProfile {
    float: right;
    width: 3%;
    padding-right: 10px;
}

.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

#mainBlock {
    display: block;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    height: 600px;
    width: 1500px;
}

.orderAndShipping {
    display: inline-flex;
    position: relative;
    width: 1500px;
}

#shipping {
    margin-left: 37px;
}

#orders {
    margin-right: 37px;
}

#banner-customers a {
    text-align: center;
    font-size: larger;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #000000;
    width: 711px;
}

#banner-attributes {
    color: rgb(255, 255, 255);
    display: inline-flex;
    width: 711px;
    height: 50px;
    border: 1px solid #000000;
}

.secToSixAttr {
    width: 100px;
    height: 50px;
    background-color: #000000;
    text-align: center;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.firstAttr {
    width: 100px;
    height: 50px;
    background-color: #000000;
    text-align: center;
    border-right: 1px solid #ffffff;
}

.seventhAttr {
    width: 100px;
    height: 50px;
    background-color: #000000;
    text-align: center;
    border-left: 1px solid #ffffff;
}

.bblock {
    color: rgb(0, 0, 0);
    display: inline-flex;
    width: 711px;
    height: 50px;
    border-bottom: 1px solid #000000;
}

.lseventhAttr {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-left: 1px solid #0000007c;
    text-align: center;
}

.lsecToSixAttr {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    border-right: 1px solid #0000007c;
    border-left: 1px solid #0000007c;
}

.lfirstAttr {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    border-right: 1px solid #0000007c;
}

.user-list {
    width: 711px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #000000;
}

.bblock:hover .lsecToSixAttr{
    background-color: #ccc;
}

.bblock:hover .lfirstAttr{
    background-color: #ccc;
}

.bblock:hover .lseventhAttr{
    background-color: #ccc;
}

.bblock:hover .lseventhAttr [type=text]{
    background-color: #ccc;
}

.deleteCustomer {
    margin-top: 30px;
    position: relative;
    display: block;
    background-color: #805555;
    height: 100px;
    width: 400px;
    transform: translate(-50%);
    left: 50%;
}

#bannerDeleteCustomer {
    text-align: center;
    font-size: larger;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: block;
    padding: 12px;
    border: 1px solid #000000;
}

.dcform {
    display: inline-flex;
    width: 398px;
    height: 50px;
    border: 1px solid black;
}

.dcform form{
   display: inline;
}

.uidBanner {
    text-align: center;
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 130px;
    height: 50px;
    font-size: larger;
    border-right: 1px solid black;
}

.uidInput [type="text"] {
    width: 124px;
    height: 48px;
    text-align: center;
    border: 0px;
}

.dbutton [type=submit]{
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
    font-size: large;
}

.dbutton [type=submit]:hover{
    background-color: gray;
}

.sUidBanner {
    text-align: center;
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    font-size: larger;
    border-right: 1px solid black;
}

.permBanner {
    text-align: center;
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    font-size: larger;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.permInput [type="text"] {
    width: 50px;
    height: 48px;
    text-align: center;
    border: 0px;
}

.sbutton [type=submit]{
    width: 137px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
    font-size: large;
}

.sbutton [type=submit]:hover{
    background-color: gray;
}

#oButton button {
    position: relative;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
    font-size: large;
    left: 50%;
    transform: translate(-50%);
}

#oButton :hover {
    background-color: gray;
}
